<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sst.member.mapper.MemberMapper">

    <select id="existsByEmail" resultType="int">
    	/* 이메일 중복 조회 */
        SELECT COUNT(*) 
        FROM MEMBER 
        WHERE MBR_EMAIL = #{email} 
          AND MBR_USE_YN = 'Y'
    </select>

    <update id="updateMemberInfo">
    	/* 회원 정보 수정 */
        UPDATE MEMBER
        SET MBR_NAME = #{mbrName},
            MBR_NICKNAME = #{mbrNickname},
            MBR_TELNO = #{mbrTelno},
            MBR_ZIP = #{mbrZip},
            MBR_ADDR = #{mbrAddr},
            MBR_DADDR = #{mbrDaddr}
        WHERE MBR_ID = #{mbrId}
    </update>
    
    <select id="existsByNickname" resultType="int">
    	/* 닉네임 중복 조회 */
        SELECT COUNT(*) 
        FROM MEMBER 
        WHERE MBR_NICKNAME = #{nickname} 
          AND MBR_USE_YN = 'Y'
    </select>
    
    <!-- DB의 컬럼명과 Member 도메인 객체의 필드명을 정확하게 1:1 매핑 -->
    <resultMap id="memberResultMap" type="sst.member.domain.Member">
        <id     column="MBR_ID"            property="mbrId"/>
        <result column="MBR_PASSWORD"      property="mbrPassword"/>
        <result column="MBR_NAME"          property="mbrName"/>
        <result column="MBR_NICKNAME"      property="mbrNickname"/>
        <result column="MBR_EMAIL"         property="mbrEmail"/>
        <result column="MBR_TELNO"         property="mbrTelno"/>
        <result column="MBR_ZIP"           property="mbrZip"/>
        <result column="MBR_ADDR"          property="mbrAddr"/>
        <result column="MBR_DADDR"         property="mbrDaddr"/>
        <result column="MBR_PROVIDER_CD"   property="mbrProviderCd"/>
        <result column="MBR_REFRESH_TOKEN" property="mbrRefreshToken"/>
        <result column="MBR_AUTH_CD"       property="mbrAuthCd"/>
        <result column="MBR_JOIN_DATE"     property="mbrJoinDate"/>
        <result column="MBR_LAST_LGN_DATE" property="mbrLastLgnDate"/>
        <result column="MBR_USE_YN"        property="mbrUseYn"/>
    </resultMap>

    <select id="findMemberByEmail" resultMap="memberResultMap">
        /* 회원정보 조회 */
        SELECT 
              MBR_ID, MBR_PASSWORD, MBR_NAME, MBR_NICKNAME, MBR_EMAIL, 
              MBR_TELNO, MBR_ZIP, MBR_ADDR, MBR_DADDR, MBR_PROVIDER_CD, 
              MBR_REFRESH_TOKEN, MBR_AUTH_CD, MBR_JOIN_DATE, MBR_LAST_LGN_DATE, MBR_USE_YN
        FROM MEMBER
        WHERE MBR_EMAIL = #{email} 
          AND MBR_USE_YN = 'Y';
    </select>
    
    <insert id="saveMember" parameterType="sst.member.domain.Member" useGeneratedKeys="true" keyProperty="mbrId">
        /* 회원등록 */
        INSERT INTO MEMBER (
              MBR_PASSWORD, MBR_NAME, MBR_NICKNAME, MBR_EMAIL, MBR_TELNO, 
              MBR_ZIP, MBR_ADDR, MBR_DADDR, MBR_PROVIDER_CD, MBR_AUTH_CD, 
              MBR_JOIN_DATE, MBR_USE_YN
        ) VALUES (
              #{mbrPassword}, #{mbrName}, #{mbrNickname}, #{mbrEmail}, #{mbrTelno}, 
              #{mbrZip}, #{mbrAddr}, #{mbrDaddr}, #{mbrProviderCd}, #{mbrAuthCd}, 
              NOW(), 'Y'
        );
    </insert>
    
    <update id="updateRefreshTokenById">
        /* 리프레시토큰 수정 */
        UPDATE MEMBER
        SET MBR_REFRESH_TOKEN = #{refreshToken}
        WHERE MBR_ID = #{mbrId};
    </update>
    
    <update id="updateLastLoginDate">
        /* 마지막 로그인 일시 업데이트 */
        UPDATE MEMBER
        SET MBR_LAST_LGN_DATE = NOW()
        WHERE MBR_ID = #{mbrId};
    </update>
</mapper>