<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sst.content.mapper.PlacePlayMapper">

    <select id="findByRegion" resultType="sst.content.dto.PlayResponseDto">
        SELECT
            p.PLC_NO            AS plcNo,
            p.PLC_ID            AS plcId,
            p.PLC_RGN_CD        AS plcRgnCd,
            p.PLC_NAME          AS plcName,
            p.PLC_ADDR          AS plcAddr,
            p.PLC_LAT           AS plcLat,
            p.PLC_LOT           AS plcLot,
            p.PLC_TELNO         AS plcTelno,
            p.PLC_OVERVIEW      AS plcOverview,
            p.PLC_MAIN_IMG_URL  AS plcMainImgUrl,
            p.PLC_THUM_IMG_URL  AS plcThumImgUrl,
            p.PLC_FLT_CD        AS plcFltCd,
            pl.PLAY_INFOCENTER  AS playInfocenter,
            pl.PLAY_PARKING     AS playParking,
            pl.PLAY_RESTDATE    AS playRestdate,
            pl.PLAY_USETIME     AS playUsetime,
            pl.PLAY_EVENT_START AS playEventStart,
            pl.PLAY_EVENT_END   AS playEventEnd
        FROM PLACE p
        LEFT JOIN PLACE_PLAY pl ON p.PLC_NO = pl.PLAY_PLC_NO
        WHERE p.PLC_CAT_CD = 'PLC002'
        <if test="rgnCd != null">
            AND p.PLC_RGN_CD = #{rgnCd}
        </if>
        ORDER BY p.PLC_NO DESC
    </select>

    <select id="findById" resultType="sst.content.dto.PlayResponseDto">
        SELECT
            p.PLC_NO            AS plcNo,
            p.PLC_ID            AS plcId,
            p.PLC_RGN_CD        AS plcRgnCd,
            p.PLC_NAME          AS plcName,
            p.PLC_ADDR          AS plcAddr,
            p.PLC_DADDR         AS plcDaddr,
            p.PLC_LAT           AS plcLat,
            p.PLC_LOT           AS plcLot,
            p.PLC_TELNO         AS plcTelno,
            p.PLC_HOMEPAGE      AS plcHomepage,
            p.PLC_OVERVIEW      AS plcOverview,
            p.PLC_MAIN_IMG_URL  AS plcMainImgUrl,
            p.PLC_THUM_IMG_URL  AS plcThumImgUrl,
            p.PLC_FLT_CD        AS plcFltCd,
            pl.PLAY_INFOCENTER  AS playInfocenter,
            pl.PLAY_PARKING     AS playParking,
            pl.PLAY_RESTDATE    AS playRestdate,
            pl.PLAY_USETIME     AS playUsetime,
            pl.PLAY_EVENT_START AS playEventStart,
            pl.PLAY_EVENT_END   AS playEventEnd
        FROM PLACE p
        LEFT JOIN PLACE_PLAY pl ON p.PLC_NO = pl.PLAY_PLC_NO
        WHERE p.PLC_NO = #{plcNo}
    </select>

</mapper>