<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sst.community.comment.mapper.CommentMapper">

    <sql id="adminCommentSearchCondition">
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test='searchType == "content"'> AND c.CMNT_CONTENT LIKE CONCAT('%', #{keyword}, '%') </when>
                <when test='searchType == "writer"'> AND m.MBR_NICKNAME LIKE CONCAT('%', #{keyword}, '%') </when>
            </choose>
        </if>
        <choose>
            <when test='useYn != null and useYn == "Y"'> AND c.CMNT_USE_YN = 'Y' </when>
            <when test='useYn != null and useYn == "N"'>
                AND c.CMNT_USE_YN = 'N'
                AND (SELECT COUNT(*) FROM REPORT Rpt WHERE Rpt.RPT_CMNT_NO = c.CMNT_NO AND Rpt.RPT_STATUS_CD != 'RST004') &lt; 5
            </when>
            <when test='useYn != null and useYn == "B"'>
                AND c.CMNT_USE_YN = 'N'
                AND (SELECT COUNT(*) FROM REPORT Rpt WHERE Rpt.RPT_CMNT_NO = c.CMNT_NO AND Rpt.RPT_STATUS_CD != 'RST004') &gt;= 5
            </when>
        </choose>
    </sql>

    <select id="adminFindCommentListPaged" resultType="sst.community.comment.dto.AdminCommentResponseDto">
	    SELECT
	        c.CMNT_NO AS cmntNo, 
	        
	        <!-- 🚀 수정 1: 기존 c.CMNT_COMM_NO AS cmntCommNo 였던 것을 프론트/DTO 기대값인 commNo로 변경 -->
	        c.CMNT_COMM_NO AS commNo, 
	        
	        <!-- 🚀 추가 1: 관리자가 어떤 게시글인지 알 수 있도록 글 제목 추가 -->
	        post.COMM_TITLE AS commTitle, 
	        
	        c.CMNT_MBR_ID AS cmntMbrId, 
	        c.CMNT_CONTENT AS cmntContent, 
	        DATE_FORMAT(c.CMNT_REG_DATE, '%Y-%m-%d %H:%i') AS cmntRegDate, 
	        c.CMNT_USE_YN AS cmntUseYn, 
	        m.MBR_NICKNAME AS nickname
	    FROM COMMENT c
	    JOIN MEMBER m ON c.CMNT_MBR_ID = m.MBR_ID
	    
	    <!-- 🚀 추가 2: 커뮤니티(게시글) 테이블 조인 추가 -->
	    JOIN COMMUNITY post ON c.CMNT_COMM_NO = post.COMM_NO 
	    
	    WHERE 1=1
	    <include refid="adminCommentSearchCondition"/>
	    ORDER BY c.CMNT_NO DESC
	    LIMIT #{offset}, #{size}
	</select>

    <select id="adminCountCommentList" resultType="int">
        SELECT COUNT(*)
        FROM COMMENT c
        JOIN MEMBER m ON c.CMNT_MBR_ID = m.MBR_ID
        WHERE 1=1
        <include refid="adminCommentSearchCondition"/>
    </select>

    <update id="adminUpdateCommentUseYn">
        UPDATE COMMENT 
        SET CMNT_USE_YN = #{useYn}, 
            CMNT_UP_DATE = NOW() 
        WHERE CMNT_NO = #{cmtNo}
    </update>

    <insert id="insertComment" parameterType="sst.community.comment.domain.Comment" useGeneratedKeys="true" keyProperty="cmntNo">
        INSERT INTO COMMENT (CMNT_COMM_NO, CMNT_MBR_ID, CMNT_CONTENT, CMNT_REG_DATE, CMNT_USE_YN)
        VALUES (#{cmntCommNo}, #{cmntMbrId}, #{cmntContent}, NOW(), 'Y')
    </insert>

    <update id="updateComment" parameterType="sst.community.comment.domain.Comment">
        UPDATE COMMENT SET CMNT_CONTENT = #{cmntContent}, CMNT_UP_DATE = NOW()
        WHERE CMNT_NO = #{cmntNo} AND CMNT_MBR_ID = #{cmntMbrId} AND CMNT_USE_YN = 'Y'
    </update>

    <update id="deleteComment" parameterType="sst.community.comment.domain.Comment">
        UPDATE COMMENT SET CMNT_USE_YN = 'N', CMNT_UP_DATE = NOW()
        WHERE CMNT_NO = #{cmntNo} AND CMNT_MBR_ID = #{cmntMbrId} AND CMNT_USE_YN = 'Y'
    </update>

    <select id="selectComments" parameterType="long" resultType="sst.community.comment.domain.Comment">
        SELECT c.CMNT_NO AS cmntNo, c.CMNT_MBR_ID AS cmntMbrId, c.CMNT_CONTENT AS cmntContent,
               DATE_FORMAT(c.CMNT_REG_DATE, '%Y-%m-%d %H:%i') AS cmntRegDate, m.MBR_NICKNAME AS mbrNickname
        FROM COMMENT c JOIN MEMBER m ON c.CMNT_MBR_ID = m.MBR_ID
        WHERE c.CMNT_COMM_NO = #{targetNo} AND c.CMNT_USE_YN = 'Y'
        ORDER BY c.CMNT_NO ASC
    </select>

</mapper>